@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html{
    background-color: hsl(30, 38%, 92%)
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    
    
}

.copy-wrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    max-width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.main-img{
    max-width: 300px;
}

.copy-margin{
    margin-left: 35px;
}

.header{
    margin-right: 100px;
}

.body-copy{
    margin-right: 25px;
}

.prices-div{
    display: flex;
}

.add-btn{
    background-color: hsl(158, 36%, 37%) ;
    color: white;
    padding: 15px;
    border-radius: 10px;
}